.pagehero {
  @apply w-screen relative;
  margin-bottom: 3rem;
  height: 500px;
  figure{
    height: 100%;
  }
  .content {
    @apply h-full absolute top-10 left-12;
    width: 80%;
    @screen md{
      @apply h-full absolute top-20 left-32;
    }
    .heading {
      span {
        @apply block text-5xl my-4;
        width: fit-content;
      }
    }
    .description {
  
      background-color: var(--blue);
      color: white;
      width: 80vw;
      @apply p-5 mt-7 ;
      @screen md{
        width: 35rem;
        @apply p-5 mt-10 ;
      }
    }
  }
  .details{
    p{
      @apply w-10/12 mx-auto text-white text-base py-10;
    }
    background-color:var(--blue);
    @apply absolute bottom-0;
    @apply w-full;
    &:after{
      content:"";
      @apply absolute w-10 h-10 ;
      left:50%;
      border-color:transparent;
      border-width:2.5rem;
      border-top-color:var(--blue);
  
    }
  }
}
