/* @import './pages/about.css'; */
@import './pages/home.css';
@import './pages/about.css';

/* component css  */
@import './components/card.css';
@import './components/where-next.css';
@import './components/card-and-text.css';
@import './components/icon-card.css';
@import './components/card-hero-split.css';
@import './components/card-point.css';


/* declare tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;


img {
  @apply w-full h-full;
}
* {
  @apply m-0 p-0;
}
:root{
  --yellow : #F4CA54;
  --blue:#375C79;
}

/* pages import  */
.light{
  background-color: #E6E7EC;
}
.dark{
  background-color: #375C79;
  color: white;
}