/* @import './pages/about.css'; */
@import './pages/home.css';
@import './pages/about.css';

/* component css  */
@import './components/card.css';
@import './components/where-next.css';
@import './components/card-and-text.css';
@import './components/icon-card.css';
@import './components/card-hero-split.css';
@import './components/card-point.css';
@import './components/formated-text.css';
@import './components/tab-button.css';
@import './components/two-cards.css';
@import './components/icons.css';

/* layout  */
@import './layout/header.css';
@import './layout/footer.css';


/* declare tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* check code */
/* *{
  border: 1px solid black;
} */
img {
  @apply w-full h-full;
}
* {
  @apply m-0 p-0;
  box-sizing: border-box;
  /* border: 1px solid blueviolet; */
}

.light{
  background-color: #E6E7EC;
}
.dark{
  background-color: #375C79;
  color: white;
}
:root{
  --yellow : #F4CA54;
  --blue:#375C79;
}
.reverse{
  direction: rtl;
  div{
    direction: ltr;
  }
}