.card-point.light {
  h1{
    span.default{
      @apply text-3xl font-bold;
      color:var(--blue)
    }
  }
  @apply relative;
  .card-sections{
    @apply relative;
  }
  .para {
    @apply p-5 text-xs;
    a{
      border-bottom:1px solid blue;
      color:blue;
    }
  }

  .top-para {
    @apply mb-5 text-xs w-10/12 m-auto;
  }

  .icons-card {
    @apply h-full;
    @apply mx-5;
    @apply bg-white;

    figure {
      @apply w-full;
      height: 10rem;
    }

    .content {
      @apply text-left px-5;
      .heading span {
        color: var(--blue);
      }
    }
  }


}

.card-point.dark {

  .card-section {
    @apply relative;
    width: 95vw;
    margin: 0 auto;

    .icons-card {
      @apply px-5;
    }

    .swiper-button-prev {
      left: -1rem;
    }

    .swiper-button-next {
      right: -1rem;
    }
  }
}