.card-hero-split {
  @apply grid grid-cols-12;
  .spilit-card {
    @apply col-span-12;
    @screen md{
      @apply col-span-6;
    }
      .card {
          height: auto;
          @apply p-0;
          @apply relative;
          figure{
            img{
                width: 100%;
            }
          }
          .content {
              @apply absolute;
              top: 20%;
              left: 10%;
          }
      .heading {
        position: static;
      }
    }
  }
}
