footer {
    @apply bg-black py-10;

    .footer-inner {
        @apply grid grid-cols-12;

        figure {
            @apply col-span-12;
            @apply flex justify-center items-center;

            img {
                width: 50%;
            }

            @screen lg {
                @apply col-span-3;

                img {
                    @apply w-full
                }
            }
        }

        .footer-menu {
            @apply col-span-12;

            @screen lg {
                @apply col-span-6;
            }

            ul {
                @apply flex justify-center text-white py-5;

                li {
                    @apply px-2 relative;

                    &:hover {
                        &:after {
                            width: 100%;
                        }
                    }

                    &:after {
                        transition: width 0.2s linear;
                        content: "";
                        @apply absolute w-0 bg-white left-0;
                        bottom: -2px;
                        height: 2px;
                    }
                }
            }
        }

        .copyright {
            @apply col-span-12 text-white text-center;

            @screen lg {
                @apply col-span-3 flex items-center;
            }
        }
    }
}